# Version control
.git/
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/

# Build
dist/
build/
*.egg-info/